<div class="large-12 columns">
  <% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
  本博客由 <a href="https://pages.github.com/">Github Pages</a> 及 <a href="http://hexo.io/">Hexo</a> 强力驱动
</div>