<div class="row">
	<div class="large-9 columns" role="content">
    	<% page.posts.each(function(item){ %>
			<%- partial('_partial/article', {item: item, index: true}) %>
			<hr/>
		<% }); %>
	</div>
</div>

<%- partial('_partial/pagination') %>